<!DOCTYPE html>
<html>
<head>
    <title>Property Listings</title>
</head>
<body>
    <h1>Property Listings</h1>
    <ul>
        {% for property in properties %}
            <li>
                <strong>{{ property.title }}</strong><br>
                {{ property.description }}<br>
                Price: ${{ property.price }}<br>
                Location: {{ property.location }}<br>
                Created at: {{ property.created_at }}
            </li>
        {% empty %}
            <li>No properties found.</li>
        {% endfor %}
    </ul>
</body>
</html>
